In [1]:
import pandas as pd

In [4]:
a = pd.DataFrame([[1,2],[3,4],[5,6]])

In [6]:
a

   0  1
0  1  2
1  3  4
2  5  6

# .shape Property

The dimensions of a DataFrame object can be determined using its .shape property.
A DataFrame is always two-dimensional. The first value informs us about the
number of rows and the second value is the number of columns

In [7]:
a.shape

(3, 2)

# .columns Property

The value of the .columns property is actually a pandas index. The individual
column names can be accessed by position.
The names of the columns of a DataFrame can be accessed with its .columns property

In [8]:
a.columns

#If indexes and columns defined manually then it shows 
#the index or columns otherwise it shows the starting 
#and index steps like this output

RangeIndex(start=0, stop=2, step=1)

In [9]:
a.columns[0]

0

In [10]:
a.columns[1]

1

In [11]:
a
#In this Data frame the column index is 0 and 1 thats why it shows
#the output of 0 and 1

   0  1
0  1  2
1  3  4
2  5  6

# Entring Columns By Your Self

Column names can be specified at the time of creating the DataFrame by using the
columns parameter of the DataFrame constructor.

In [15]:
b = pd.DataFrame([[1,3],[5,7],[9,11],[13,15]],columns=["a","b"])

In [16]:
b

    a   b
0   1   3
1   5   7
2   9  11
3  13  15

# Assigning Index By Yourself

Index labels can likewise be assigned using the index parameter of the constructor
or by assigning a list directly to the .index property.

In [18]:
b = pd.DataFrame([[1,3],[5,7],[9,11],[13,15]],columns=["a","b"],index=["r1","r2","r3","r4"])

In [19]:
b

     a   b
r1   1   3
r2   5   7
r3   9  11
r4  13  15

# .index Property

Similar to the Series object, the index of a DataFrame object can be accessed with its
.index property

In [20]:
b.index

Index(['r1', 'r2', 'r3', 'r4'], dtype='object')

In [21]:
a.index

RangeIndex(start=0, stop=3, step=1)