# Appending a DataFrame to another

Pandas dataframe.append() function is used to append rows of other dataframe to the end of the given dataframe, returning a new dataframe object. Columns not in the original dataframes are added as new columns

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
#                            Create First Dataframe

dataFrame_1 = {
    "A":[1,2,3,4],
    "B":[5,6,7,8]
}


#Creatoing 2nd Dataframe 

dataFrame_2 = {
    "A":[9,10,11,12],
    "B":[13,14,15,16]
}

In [7]:
#                   Convert Dictionary into DataFrame
df1= pd.DataFrame(dataFrame_1)
df2 = pd.DataFrame(dataFrame_2)

In [8]:
df1

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [9]:
df2

    A   B
0   9  13
1  10  14
2  11  15
3  12  16

In [14]:
#Append df2 into df1
updated_df=df1.append(df2)

In [18]:
updated_df

    A   B
0   1   5
1   2   6
2   3   7
3   4   8
0   9  13
1  10  14
2  11  15
3  12  16

**Note:**
Notice the index value of second data frame is maintained in the appended data frame. If we do not want it to happen then we can set ignore_index=True.

In [19]:
df1.append(df2, ignore_index = True)

    A   B
0   1   5
1   2   6
2   3   7
3   4   8
4   9  13
5  10  14
6  11  15
7  12  16