In [1]:
import numpy as np

In [2]:
import pandas as pd

# Creating Dataframes

 There are several ways to create a DataFrame. Probably the most straightforward
way, is by creating it from a NumPy array. The following code creates a DataFrame
from a one dimensional NumPy array

# By Numpy 1D Array

In [9]:
a = pd.DataFrame(np.array([1,2,3]))
a

   0
0  1
1  2
2  3

# By Numpy 2D Array

In [10]:
b = pd.DataFrame(np.array([[1,2,3],[4,5,6]]))
b

   0  1  2
0  1  2  3
1  4  5  6

# Creating Array by Python List

In [14]:
a = [1,2,3,6]
b = np.array(a)
pd.DataFrame(b)

   0
0  1
1  2
2  3
3  6

# Creating Array By List Of Series

In [19]:
a = pd.DataFrame([pd.Series(np.arange(11,16)),pd.Series(np.arange(16,21))])

In [20]:
a

    0   1   2   3   4
0  11  12  13  14  15
1  16  17  18  19  20

There are many other ways for creating Data frames
for Details visit:
   https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/