***Import Pandas***

Importing pandas into your program is simple. 
The following code is a standard convention that is used:
    
***"import pandas as pd"***

In [20]:
import pandas as pd
import numpy as np

**What is Series**

*The Series is the primary building block of pandas. A Series represents a
one-dimensional labeled indexed array based on the NumPy ndarray*

# Creating Series

In [3]:
#Series contain one item

a = pd.Series(2)

In [6]:
print(a)


#Note the output when the series s1 is printed. Two integers are displayed.

#The 0 value is the index label of the single item in the Series
#whose value is 2

#The data type of the Series object is also shown as being int64. 
#The index label is we can use to retrieve the associated value from the Series

0    2
dtype: int64

In [8]:
#Retrieve Data By Index

a[0]

2

***Create a series of Multiple Items***

In [9]:
b = pd.Series([1,2,3,4,5])

In [11]:
print(b)

#Since an index was not specified at the time of creation,
#pandas created an index for us with sequential zero-based integer values.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
#Create a series with python list

l1 = ["a" , "b" , "c" ,"d"]
print(pd.Series(l1))

0    a
1    b
2    c
3    d
dtype: object

In [17]:
#Initialize index user defined
a = pd.Series([45, 67,86, 78, 99], index = ["a" , "b" , "c" , "d" , "e"])
print(a)

a    45
b    67
c    86
d    78
e    99
dtype: int64

In [18]:
#Access the value by user defined Index
a["c"]

86

In [25]:
#Creating a series by Numpy array
pd.Series(np.arange(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [26]:
#Access the values of Series

a.values

array([45, 67, 86, 78, 99], dtype=int64)

In [28]:
#Access the Index of Series
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

***Index of second Series is the index of First series***

"previousSeriesName.index"

In [29]:
s1 = pd.Series([1,2,3,4,5], index = ["1st" , "2nd" , "3rd" , "4th" , "5th"])
s1

1st    1
2nd    2
3rd    3
4th    4
5th    5
dtype: int64

In [30]:
s2=pd.Series([82,79, 71, 67 ,65] , index = s1.index)
s2

1st    82
2nd    79
3rd    71
4th    67
5th    65
dtype: int64